<div class="demo-main">
    <div class="demo-container">
        <nxe-explorer readOnly="false"
            homeNodeName="Home"></nxe-explorer>
    </div>
    <!-- <span>{{MOCK_FOLDERS | json}}</span> -->
    <p>
        <i type="button" (click)="isCollapsed = !isCollapsed" aria-expanded="false" aria-controls="collapseExample">
            JSON
        </i>
    </p>
    <div [collapse]="isCollapsed">
        <div class="card card-body">
            <div class="row">
                <div
                    class="col-6 ">
                    <h6>Folders Json :
                        <span>{{MOCK_FOLDERS.length}}</span>
                    </h6>
                    <pre>
                        <p>{{MOCK_FOLDERS|json}}</p>
                    </pre>
                    <a class="float-right" (click)="console(true)">console</a>
                    <!-- <button
                        type="button"
                        class="btn btn-primary float-right mr-3 mb-2"
                        (click)="console(true)">Console
                    </button> -->
                </div>
                <div
                    class="col-6">
                    <h6>Files Json :
                        <span>{{MOCK_FILES.length}}</span>
                    </h6>
                    <pre>
                        <p>{{MOCK_FILES|json}}</p>
                    </pre>
                    <a class="float-right" (click)="console()">console</a>
                    <!-- <button
                        type="button"
                        class="btn btn-primary float-right mr-3 mb-2"
                        (click)="console()">Console
                    </button> -->
                </div>
            </div>
        </div>
    </div>
</div>
